.learn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 1rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-header {
  display: flex;
  position: fixed;
  top: 0;
  background-color: transparent;
}

.word-class {
  font-size: 2rem;
  color: #40c057;
}

.word {
  font-size: 4.8rem;
  color: var(--main-purple);
}

.highlight {
  color: var(--main-purple);
  font-weight: 600;
}

.play-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  border: none;
  background-color: var(--main-purple);
  fill: white;
}

.microphone-btn {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  border: none;
  margin-bottom: 2rem;
  background-color: transparent;
  fill: var(--main-purple);
}

.response-message {
  width: 100%;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-style: italic;
}

.pronunciation {
  font-size: 2rem;
}

.translation {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.language-example {
  font-size: 2.6rem;
  margin-bottom: 2.4rem;
}

.translated-example {
  font-size: 2.6rem;
  margin-bottom: 2.4rem;
}

.response-message {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.next-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 0.4rem;
  text-align: center;
  justify-content: center;
  border: none;
  margin-bottom: 2rem;
  background-color: var(--main-purple);
  color: white;
  font-size: 2rem;
}

.footer {
  display: flex;
  position: fixed;
  bottom: 0rem;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
}

.btn-container {
  position: fixed;
  bottom: 6rem;
  right: 2.4rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}
