.nav-bar-container {
  background-color: #f8f9fa;
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 2rem;
}

.nav-btn-icon {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.nav-bar-container .MuiBottomNavigation-root {
  background-color: transparent;
}

.nav-bar-container .selected-icon {
  transform: scale(1.2);
}

.logout-btn {
  background-color: var(--main-purple);
  color: var(--white);
  font-size: 2rem;
  text-align: center;
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem;
  border: none;
}