.wotd {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wotd-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wotd-container h1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 1rem;
  color: var(--main-purple);
  padding: 0;
}
.wotd-container h2 {
  font-size: 3rem;
  font-weight: 500;
  margin: 1rem;
}
.highlighted {
  color: var(--main-purple);
  font-weight: 700;
}
.i {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem;
  color: var(--main-purple);
  cursor: pointer;
}
.homeContainer {
  display: flex;
  flex-direction: start;
  align-items: center;
}
.houseIcon {
  font-size: 4rem;
  font-weight: 700;
  margin: 1rem;
  color: var(--main-purple);
  cursor: pointer;
}
.descBox h3 {
  margin: 2rem;
  padding: 0;
  font-size: 2rem;
}
.descBox hr {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid white;
}
.descBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  border-radius: 10px;
  background-color: var(--main-purple);
  color: white;
  overflow: hidden;
}
.descContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.descTop {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}
.descTop h3 {
  margin: 1rem;
}