@import url("https://fonts.googleapis.com/css2?family=Agdasima&family=Quicksand:wght@300;400;500;600;700&display=swap");
:root {
  --main-purple: #7950f2;
  --light-grey: #adb5bd;
  --lighter-grey: #dee2e6;
  --white: #fff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eaeaea;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: "QuickSand", sans-serif;
}
